/* CSS Document */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

body {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.2; }

h1, h2, h3, nav a, table {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

h1, h2 {
  text-align: center; }

h1 {
  font-size: 2em;
  text-shadow: 10px 10px 10px #363636; }

p {
  text-align: justify;
  font-size: 1.3em; }

body {
  background-color: white; }

.wrapper {
  height: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  position: relative;
  margin: 0 auto; }

header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
  padding: 5px; }
  header a .logo {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10%;
    background-color: black;
    border: 10px double white;
    padding: 0 10px;
    position: relative;
    z-index: 900;
    margin-left: 20px;
    align-items: center; }
  header button.menu {
    display: none; }
  header ul {
    display: flex;
    justify-content: flex-end; }
    header ul li {
      list-style: none; }
      header ul li a {
        text-decoration: none;
        outline: none; }
    header ul li {
      flex: 1;
      position: relative; }
      header ul li a {
        color: white;
        font-size: 1.3em;
        text-align: center;
        padding: 10px;
        margin: 0 10px;
        font-weight: bold;
        display: block;
        white-space: nowrap; }
      header ul li a[aria-haspopup="true"]::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid white;
        left: calc(50%);
        right: auto;
        bottom: 0px;
        top: calc(100% + 8px); }
      header ul li ul {
        display: block;
        position: absolute;
        left: 0;
        margin-top: 25px;
        padding: 0;
        background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
        min-width: 100%;
        height: 0;
        overflow: hidden;
        border-radius: 10px; }
        header ul li ul li {
          width: 100%;
          margin: 0; }
          header ul li ul li a {
            margin: 0;
            border-bottom: 1px solid white; }
      header ul li:hover ul, header ul li.hover ul {
        height: auto; }
  header a:hover, header a:focus, header a:active {
    background-color: rgba(173, 216, 230, 0.3);
    width: 100%;
    border-radius: 10px; }
  @media screen and (max-width: 560px) {
    header {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      justify-content: space-between; }
      header button.menu {
        display: block;
        width: 40px;
        background-color: transparent;
        border: none;
        padding: 0;
        position: relative;
        z-index: 9999; }
        header button.menu .button-content {
          display: block;
          height: 24px;
          cursor: pointer; }
          header button.menu .button-content:focus {
            outline: none; }
        header button.menu .text {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0; }
        header button.menu .bar {
          display: block;
          background-color: white;
          width: 100%;
          height: 4px;
          position: relative;
          top: 10px;
          transition: all 0.3s ease-in-out; }
          header button.menu .bar:before {
            content: "";
            width: 100%;
            height: 4px;
            top: 10px;
            left: 0;
            background-color: white;
            position: absolute;
            transition: all 0.3s ease-in-out; }
          header button.menu .bar:after {
            content: "";
            width: 100%;
            height: 4px;
            top: -10px;
            left: 0;
            background-color: white;
            position: absolute;
            transition: all 0.3s ease-in-out; }
        header button.menu:focus {
          outline: none; }
          header button.menu:focus .button-content {
            outline: 5px solid #7683C9; }
      .show header button.menu .bar {
        background-color: transparent; }
        .show header button.menu .bar:before {
          top: 0;
          transform: rotate(45deg); }
        .show header button.menu .bar:after {
          top: 0;
          transform: rotate(-45deg); }
      header nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0); }
      header nav.activated {
        transition: transform 0.3s ease; }
      .show header nav {
        transform: scale(1); }
      header nav ul {
        flex-direction: column;
        width: 260px; }
        header nav ul li {
          width: 100%; }
          header nav ul li a {
            border-right: none;
            color: white;
            border-bottom: none;
            border-top: 2px solid #555555;
            line-height: 40px;
            text-align: left;
            text-align: center; }
          header nav ul li:last-child a {
            height: 42px;
            border-bottom: 2px solid #555555; } }

footer {
  border-top: 1px dotted white;
  background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "div1 div2 div3"; }
  footer .div {
    padding: 0 20px; }
    footer .div li {
      list-style: none; }
      footer .div li a {
        text-decoration: none;
        outline: none; }
    footer .div h2 {
      font-size: 1.2em; }
    footer .div ul li a {
      font-size: 0.9em;
      line-height: 1; }
  footer .div1 {
    grid-area: div1; }
  footer .div2 {
    grid-area: div2; }
  footer .div3 {
    grid-area: div3; }
  @media (max-width: 750px) {
    footer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "div1 div2" "div3 div3"; } }
  @media (max-width: 500px) {
    footer {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "div1" "div2" "div3"; } }

/*# sourceMappingURL=styles.css.map */
